body {
	background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(48, 66, 83, 1) 100%); /* W3C */
	font-family: futura, arial, sans-serif; 
}

* {
  vertical-align: top;
}

header {
	min-width: 960px;
  	height: 61px;
}

h2 {
	top: 5px;
	font-size: 34px;
	position: relative;
	margin-top: 20px;
	padding-top: 0px;
	text-transform: uppercase;
	font-family: 'LimeLight', cursive;
}
h3 {
	color: red;
	font-family:futura;
}

h6 {
	margin-left: 80px;
	color: rgba(247,239,225,1);
	padding: -5px 20px;
	top: 5px;
	font-size: 34px;
	position: relative;
	margin-top: 8px;
	text-transform: uppercase;
	font-family: 'LimeLight', cursive;
	margin-bottom: -2px;
	text-shadow: 2px 2px 10px #0F0E04;
}

h4 {
	font-family: futura;
	color: black;
	font-size: 16px;
}

h5 {
	font-size: 25px;
	margin-top: -25px;
}

ul {
	margin-left: 80px;
}

.primary-header {
	background: linear-gradient(to bottom, rgba(255,183,107,1) 0%,rgba(234,153,91,1) 16%,rgba(206,129,61,1) 34%,rgba(193,115,60,1) 50%,rgba(181,92,41,1) 75%,rgba(155,69,35,1) 100%);
	/*background-image: linear-gradient(rgb(255, 238, 0) 0%, rgb(232, 181, 0) 59%, rgb(232, 181, 0) 100%);*/
	font-family: 'LimeLight', cursive;
	position: relative;
  	z-index: 10;
  	padding-top: 35px;
	margin-top: -10px;
	border-bottom: solid;
	border-bottom-width: 5px;
}

.title-header {
	text-transform: uppercase;
	font-size: 25px;
	letter-spacing: 3px;
	font-weight: bolder;
	text-align: center;
	margin-top: -10px;
	color: rgba(247,239,225,1);
	text-shadow: 2px 2px 10px #0F0E04;
	font-size: 60px;

}

.title-header:hover {
	cursor: crosshair;
}

.container {
	margin: 0 auto;
	width: 965px;
	background: linear-gradient(to bottom, rgba(247,239,225,1) 0%,rgba(188,186,167,1) 100%); /* W3C */
	box-shadow: 2px 2px 11px rgba(8, 15, 22, 1);

}

.container-left {
	display: inline-block;
	width: 470px;
	margin-right: 20px;
}

.container-right {
	display: inline-block;
	width: 470px;
}

.left-header {
	text-align: center;
}

.right-header {
	text-align: center;
}


.info-input {
	display: inline-block;
	margin-top: 20px;
	width: 190px;
	height: 410px;
	margin-left: 85px;
}
.info-input input {
  	margin-top: 14px;
	width: 310px;
	padding: 14px 35px;
	border-radius: 8px 40px 8px 40px;
	border: 1px solid rgb(155, 69, 35);
	border-top: 2px solid rgb(117, 51, 25);
	box-shadow: inset 0px 2px 3px -2px #424242;
	font-size: 15px;
	letter-spacing: 2px;
	font-family: futura;
	display: inline-block;
	font-weight: lighter;

}

.button {
	display: inline-block;
	margin: 0px;
	background: linear-gradient(to bottom, #ffee00 0%,#e8b500 59%,#e8b500 100%);
	font-size: 19px;
	text-align: center;
	text-shadow: -1px -1px rgb(116, 80, 3);
	color: white;
	border-radius: 6px;
	width: 140px;
	height: 37px;
	padding-top: 7px;
	padding-bottom: 0px;
	box-shadow: inset -1px -1px 0px rgb(116, 80, 3);
	margin-top: 20px;
	margin-left: 105px;
	font-family: futura;
}

.button:hover {
  background: linear-gradient(to bottom, #e8b500 0%,#e8b500 59%,#ffee00 100%);
  text-shadow: 1px 1px rgb(116, 80, 3);
  box-shadow: inset 2px 3px 0px rgb(116, 80, 3); 
  -webkit-transform: all 15.0s ease-in-out;
  cursor: pointer;
}



.submit {
	display: inline-block;
	margin: 0px;
	background: linear-gradient(to bottom, #ffee00 0%,#e8b500 59%,#e8b500 100%);
	font-size: 19px;
	text-align: center;
	text-shadow: -1px -1px rgb(116, 80, 3);
	color: white;
	border-radius: 6px;
	width: 99px;
	height: 37px;
	padding-top: 7px;
	padding-bottom: 0px;
	box-shadow: inset -2px -3px 0px rgb(116, 80, 3);
	margin-top: 20px;
}
.submit:hover {
  background: linear-gradient(to bottom, #e8b500 0%,#e8b500 59%,#ffee00 100%);
  text-shadow: 1px 1px rgb(116, 80, 3);
  box-shadow: inset 2px 3px 0px rgb(116, 80, 3); 
  -webkit-transform: all 15.0s ease-in-out;
  cursor: pointer;
}
.output {
	font-family: 'LimeLight', cursive;
	font-size: 27px;
	line-height: 70px;
	margin-top: 53px;
	display: inline-block;
	margin-left: -35px;
	text-align: left;
	}
button {
	display: inline-block;
	margin: 0px;
	background: linear-gradient(to bottom, #ffee00 0%,#e8b500 59%,#e8b500 100%);
	font-size: 19px;
	text-align: center;
	text-shadow: -1px -1px rgb(116, 80, 3);
	color: white;
	border-radius: 6px;
	width: 155px;
	height: 51px;
	padding-top: 15px;
	padding-bottom: 40px;
	box-shadow: inset -1px -1px 0px rgb(179, 129, 23);
	border-color: rgb(194, 147, 0);
	margin-top: 20px;
	position: absolute;
}
button:hover {
	background: linear-gradient(to bottom, #e8b500 0%,#e8b500 59%,#ffee00 100%);
  text-shadow: 1px 1px rgb(116, 80, 3);
  box-shadow: inset 2px 3px 0px rgb(116, 80, 3); 
  -webkit-transform: all 15.0s ease-in-out;
  cursor: pointer;
}

.preview-name {
	padding-top: 18px;

}

.preview-birthday {

}
/*Modal*/
 /* This is the CSS for the normal div */

/*.modaltext {
    background-color: lightblue;
    width: 900px;
    min-height: 200px;
    padding: 20px;
}*/
 
  /* This is the CSS for the modal dialog window */

.opener {
    background-color: white;
    color: black;
    border: 1px solid gray;
    padding: 20px;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 400px;
    height: 300px;

}

#overlay {
    visibility: hidden;
    position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 145%;
	text-align: center;
	z-index: 1000;
	background-color: rgba(0,0,0,.4);
	overflow: auto;
	-webkit-transition: -webkit-transform;
	-webkit-transiton: all 3.6s ease-in-out;
}

#overlay:active

#overlay div {
  padding: 10px;
	width: 500px;
	margin: 100px auto;
	text-align: center;
	height: 335px;
	background-color: white;
	border-radius: 60px;
	box-shadow: 2px 2px 15px black;


}

.please {
	margin-left: 92px;
}

/*.disagree {
	height:100px;

}*/

.overlayback {	
	visibility: hidden;
    position: absolute;
	
	width: 100%;
	height:100%;
	overflow: auto
}

.terms {
	font-weight:bold;
	text-align: center;
	position: relative;
	background-color: white;
}

.update {
	display: inline-block;
	position: relative;
	left: 160px;
	top:-35px;
}

.add-flair {
	position: absolute;
	margin-left: 10px;
	box-shadow: inset -2px -3px 0px rgb(116, 80, 3);
	border: 1px solid rgb(163, 137, 31);

}

.add-user {
	position: absolute;
	height: 46px;
	padding-bottom: 10px;
	margin-left: 160px;
}

.output-fields {
	text-align: center;
	margin-top: 66px;
	font-size: 23px;
	position: absolute;
	line-height: 46px;
	display: inline-block;
	margin-left: 30px;
}

.users-list {
	background: linear-gradient(to bottom, rgba(255,183,107,1) 0%,rgba(234,153,91,1) 16%,rgba(206,129,61,1) 34%,rgba(193,115,60,1) 50%,rgba(181,92,41,1) 75%,rgba(155,69,35,1) 100%);
	margin-left: 0px;
	display: inline-block;
	width: 965px;
	border-top: solid;
	border-top-width: 5px;
}

.preview-name {
	/*background: linear-gradient(to bottom, rgba(255,183,107,1) 0%,rgba(234,153,91,1) 16%,rgba(206,129,61,1) 34%,rgba(193,115,60,1) 50%,rgba(181,92,41,1) 75%,rgba(155,69,35,1) 100%);*/
	margin-left: 0px;
	color: 
	padding: -5px 20px;
	top: 5px;
	font-size: 34px;
	position: relative;
	margin-top: 8px;
	text-transform: uppercase;
	font-family: 'LimeLight', cursive;
	margin-bottom: -2px;
	text-shadow: 2px 2px 10px #0F0E04;
	/*color: rgb(185, 97, 38)*/
	padding-left: 15px;
	padding-right: 15px;
	padding-top: -2px;
	border-radius: 25px 5px 25px 5px;
	background: linear-gradient(to bottom, rgba(255,183,107,1) 0%,rgba(234,153,91,1) 16%,rgba(206,129,61,1) 34%,rgba(193,115,60,1) 50%,rgba(181,92,41,1) 75%,rgba(155,69,35,1) 100%);
	color: rgba(247,239,225,1);
}

.name-deco {
	

}
	/*background: rgb(255, 255, 255);
	border-radius: 20px;
	border: 1px solid rgb(155, 69, 35);
	border-top: 2px solid rgb(114, 51, 26);
	box-shadow: inset 0px 2px 3px -2px #424242;
	width: 400px;
	height: 410px;*/


/* This gives us the styling for the background */
  
/*.background {
    background-color: black;
    opacity: 90%;
    filter:alpha(opacity=90);
    background-color: rgba(0,0,0,0.40);
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}*/
